/* You can add global styles to this file, and also import other style files */
@import "./variables.scss";

html, body { height: 100%; }
body { background-color: $background;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.router-container {
    display: flex;
    flex-flow: column;
    align-items: center;
}