$primary: #23B5FF;
$error: #E94F37;
$warn: #F6AE2D;
$success: #56E39F;
$background: #36393B;
$backdrop: #262626;
$backdropTrim: #f1a20d;
$boardBorderColor: rgb(172, 172, 172);
$boardBackgroundColor1: #230f64;
$boardBackgroundColor2: #4034ff;
$boardHover: #5a865a